:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3da90c;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 0;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 152, 0, 0.8);
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 152, 0, 1);
    transition: background-color 0.3s;
 }
}

input {
  outline: none;
  border-radius: 0;
  border: 0.1rem solid #ff9800;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  transition: background-color 0.3s;

  &:focus {
    background-color: rgba(255, 152, 0, 0.05);
    transition: background-color 0.3s;
 }
}
