.root {
  position: relative;
}

.label {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.list {
  display: flex;
  column-gap: 1rem;
  max-width: 100vw;
  overflow: auto;
  padding: 1rem 0;
}

.button {
  flex: 1 0 auto;
  max-height: 6rem;
  max-width: 20rem;
}

.selected {
  background-color: #d2e1e5;
}
