.root {
  position: relative;
  margin: 2rem 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.item {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid lightgrey;
}

.header {
  width: auto;
  display: table-header-group;
  //display: grid;
  //grid-template-columns: repeat(62, minmax(20rem, 1fr));
  //grid-auto-columns: minmax(2rem, auto);
  //grid-auto-flow: column;
  background-color: #f0f0f0;
  border: 0.2rem solid lightgrey;
}

.header .item {
  display: table-cell;
  font-weight: 600;
}

.header .item:not(:last-child) {
  border-right: none;
}

.header:not(:last-child) .item {
  border-bottom: none;
}

.rows {
  display: table-row-group;
  width: max-content;
  position: relative;
}

.row {
  width: auto;
  display: table-row;
  //display: grid;
  //grid-template-columns: repeat(62, minmax(20rem, 1fr));
  //grid-auto-columns: auto;
  //grid-auto-flow: column;
}

.row .item {
  display: table-cell;
  border: 0.1rem solid lightgrey;
}

.row .item:not(:last-child) {
  border-right: none;
}

.row:not(:last-child) .item {
  border-bottom: none;
}
