.root {
  margin: 0;
  padding: 10rem 6rem 20rem;
  //background-color: #f5f8f9;
}

.header {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 6rem;
  box-sizing: border-box;
  z-index: 100000000;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1rem);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 4rem;
}

.title {
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.date, .month {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.label {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.4rem;
}

.currencies {
  position: relative;
}

.currencies .list {
  margin-top: 3rem;
  width: 100%;
  max-width: 100vw;
  overflow: auto;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.currencies .list .item {
  display: flex;
  column-gap: 0.5rem;
  font-size: 1.2rem;
}

.currencies .label {
  position: relative;
  font-size: 1.6rem;
}

.currencies .item .value {
  font-size: 1.4rem;
  font-weight: 600;
}

.currencies .up.item .difference {
  font-weight: 600;
  color: #3da90c;
}

.currencies .down.item .difference {
  font-weight: 600;
  color: #a92e0c;
}

.chart {
  margin-top: 3rem;
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #eeeeee;
}

.tableContainer {
  width: 100%;
  max-width: 100vw;
  overflow: auto;
}

.spreadsheetContainer {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  overflow: auto;
}
