.root {
  width: 100%;
  max-width: 100rem;
  height: 100%;
  max-height: 100rem;
  //border: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.axis {
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  opacity: 0.6;
}

.label {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 1rem;

  .date {
    font-weight: 400;
  }

  .brand {
    font-weight: 400;
  }

  .value {
    font-weight: 600;
  }

  > * {
    padding: 0 0.5rem
  }

  > *:not(:last-child) {
    border-right: 0.1rem solid rgba(0, 0, 0, 0.5);
  }
}

